@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); html { font-size: 62.5%; } p { margin-top: 0; }

body {
    font-family: Roboto,sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.4;
    background-color: #EDF0F6;
}

header {
    background-color: #FFFFFF;
}

main {
    padding-bottom: 10em;
}

.header {
    overflow: hidden;
    padding: 0 1.6rem;
    height: 7.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 130rem;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (min-width: 700px) {
    .header {
        padding: 0 7rem;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 0 8.4rem;
    }
}

.header .menu {
    padding-right: 3.5rem;
    flex-grow: 1;
    max-width: 76.5rem;
    display: none;
}

.header .menu-icon {
    width: 2.6rem;
    height: 2.6rem;
    visibility: unset;
}

@media screen and (min-width: 1000px) {
    .header .menu {
        display: flex;
    }

    .header .menu-icon {
        visibility: hidden;
    }
}

.header svg {
    box-sizing: border-box;
}

.header .menu .dropdown {
    flex-grow: 1;
    position: static;
    font-weight: 500;
    font-size: 2rem;
    line-height: 7.6rem;
    cursor: pointer;
    text-align: center;
}

.login {
    color: #1ed14b;
}

.body {
    padding-right: 5vw;
    padding-left: 5vw;
    max-width: 130rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 3rem;
}

@media screen and (min-width: 1024px) {
    .body {
        padding-top: 5rem;
    }
}

.body .featured-card {
    background-image: url("media/b876a3cb4c23af845ca6.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #d44e62;
    display: flex;
    margin-bottom: 3rem;
        align-items: stretch;
        flex-direction: column;
}

@media screen and (min-width: 700px) {
    .body .featured-card {
        background-image: url("media/3cb031d8ac9039f62347.png");
    }
}

@media screen and (min-width: 1024px) {
    .body .featured-card {
        background-image: url("media/10ef7abb0d32966fa487.png");
        align-items: stretch;
        flex-direction: row;
    }
}

.body .interactive {
    background-image: none;
    background-color: #ffffff;
    display: block;
    font-size: 1.25rem;
    padding: 2em;
    display: none;
}

.body .interactive p {
    color: #b32d2e;
}

.body .interactive h1 {
    margin-top: 0;
}

.body .interactive input {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    background-color: #EDF0F6;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1rem;
    margin-right: 1em;
    width: 25rem;
    outline: none;
    height: 2rem;
}

.button {
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: rgb(0, 69, 173);
    border-radius: .5rem;
    outline: none;
    border: none;
    height: 4rem;
    padding: 1rem 3rem;
}

.carrousel .element {
    border-bottom: 3px solid #EDF0F6;
}

.carrousel .element p {
    font-size: 1.5rem;
    color: #787c82;
}

.carrousel .element h3 {
    font-size: 1.75rem;
    color: #646970;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.carrousel .element h2 {
    font-size: 2rem;
    color: #2c3338;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.body .featured-card .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48vw 4rem 4rem;
}

@media screen and (min-width: 700px) {
    .body .featured-card .main {
        padding: 30vw 4rem 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .body .featured-card .main {
        padding: 22vw 4rem 4rem;
        flex-basis: 67%;
    }
}

@media screen and (min-width: 1300px) {
    .body .featured-card .main {
        padding: 28rem 4rem 4rem;
    }
}

.body .featured-card .main img {
    margin-bottom: 2.0rem;
}

.body .featured-card .main .subtitle {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .body .featured-card .main .subtitle {
        font-size: 1.8rem;
    }
}

.big-button {
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1.2;
    background-color: rgb(0, 69, 173);
    border-radius: .5rem;
    padding: .8rem 3.2rem;
}

@media screen and (min-width: 800px) {
    .big-button {
        padding: 1rem 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .big-button {
        padding: 1.2rem 4.8rem;
    }
}

.big-button:hover {
    background-color: #0052cc;
}

.body .featured-card .secondary {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-right: 4rem;
    padding-bottom: 4rem;
    display: none;
    gap: 2rem;
}

@media screen and (min-width: 700px) {
    .body .featured-card .secondary {
        padding-top: 0rem;
        padding-left: 4rem;
        flex-direction: row;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .body .featured-card .secondary {
        flex-basis: 33%;
        flex-direction: column;
        padding-top: 4rem;
        padding-left: 0rem;
    }
}

.body .featured-card .secondary .cell {
    background-color: #ffffff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.body .featured-card .secondary .cell img {
    object-fit: cover;
    width: 9rem;
    display: none;
}

@media screen and (min-width: 1024px) {
    .body .featured-card .secondary .cell img {
        display: unset;
    }
}

.body .featured-card .secondary .cell .title {
    color: rgb(0, 68, 171);
    font-weight: 500;
    line-height: 2.5rem;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.body .featured-card .secondary .cell .title:hover {
    color: #c51d4a;
}

.body .featured-card .secondary .cell .arrow {
    display: inline-block;
    color: black;
    background-color: #ffffff;
    background-image: url("media/arrow.svg");
    background-repeat:no-repeat;
    background-position: center center;
    height: 100%;
    padding-right: 3rem;
    content: " ";
}

.body .news {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 1024px) {
    .body .news {
        grid-auto-rows: min(28vw, 37rem);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }
}

.body .news .small-card {
    grid-row: 1;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .body .news .small-card {
        display: flex;
    }
}

.body .news .small-card .category {
    color: #666;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.body .news .small-card .title {
    color: #0044ab;
    font-weight: 500;
    line-height: 2.5rem;
    font-size: 1.8rem;
}

.body .news .small-card:hover .title {
    color: #c51d4a;
}

.body .news .small-card .cover {
    flex: 1;
    object-fit: cover;
    height: 10rem;
}

.body .news .small-card .content {
    min-height: 12.8rem;
    padding: 1.6rem;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.body .news .small-card .content .footer {
    color: #444;
    display: flex;
    margin-top: auto;
    flex-direction: row;
    font-size: 1.6rem;
    justify-content: space-between;
}

.body .news .small-card .content .footer .comments {
    border-radius: 1.1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #eee;
}

.body .news .small-card .content .footer .comments img {
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-top: 1.7rem;
}

.body .news .thick-card {
    grid-column: 2 / 4;
    overflow: hidden;
    background-color: rgb(224, 168, 67);
    background-image: url("media/7111882e2c5bf33135bb.png");
    background-size: 45rem auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;
    padding-bottom: 40rem;
}

@media screen and (min-width: 830px) {
    .body .news .thick-card {
        background-size: auto 90%;
        padding: 3rem 2rem;
    }
}

.body .news .thick-card .title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.body .news .thick-card .description {
    margin-bottom: 2.4rem;
    font-size: 1.8rem;
    font-weight: 400;
}

@media screen and (min-width: 830px) {
    .body .news .thick-card .description {
        max-width: 50%;
    }
}

@media only screen and (min-width: 1300px) {
    .body {
        padding-right: 6.5rem;
        padding-left: 6.5rem;
    }
}

